@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:opsz@6..96&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #ccc;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #985F99;
}

body {
    background-color: #ccc;
    color: #054A29;
    font-family: 'Bodoni Moda', 'Bebas Neue';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #054A29;
    color: #ccc;
}

nav a:hover{
    background-color: #ccc;
    color: #054A29;
}

.book, .join{
    background-color: #ccc;
    color: #054A29;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #054A29;
    color: #ccc;
}

.background{
    background-color: #054A29;
    color: #ccc;
}

.msg{
    background-color: #054A29;
    color: #ccc;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: #054A29;
    color: #ccc;
}

.msg h2{
    color: #ccc;
}

.msg p{
    color: #ccc;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3{
    color: #ccc;
}

footer a{
    color: #ccc;
    text-decoration: none;
}

footer a:hover{
    background-color: #ccc;
    color: #054A29;
}

.icon{
    width: 80px;
}

.home-title{
    font-family: 'Bebas Neue','Bodoni Moda' ;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin: 0;
}

#logo_link{
    padding-top: 5px;
}

.icon{
    padding-top: 10px;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid #054A29;
}

main section img {
    box-sizing: border-box;
}